<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Manage Links - Rex URL Shortener</title>
  </head>
  <body class="dark-mode">
    <%- include('partials/navbar.ejs') %>

    <main class="container">
      <h2>Your Shortened Links</h2>
      <table class="links-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% links.forEach((link, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <a href="/<%= link.shortUrl %>" target="_blank"
                ><%= request.protocol + '://' + request.get('host') + '/' +
                link.shortUrl %></a
              >
            </td>
            <td>
              <a href="<%= link.longUrl %>" target="_blank"
                ><%= link.longUrl %></a
              >
            </td>
            <td>
              <button
                class="btn btn-danger"
                onclick="confirmDelete('<%= link._id %>')"
              >
                Delete
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <!-- Delete Confirmation Modal -->
    <div id="delete-modal" class="modal hidden">
      <div class="modal-content">
        <span class="close" onclick="toggleModal()">&times;</span>
        <p>Are you sure you want to delete this link?</p>
        <button id="confirm-delete" class="btn btn-danger">Delete</button>
        <button class="btn" onclick="toggleModal()">Cancel</button>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
